In [1]:
import pandas as pd 
import numpy as np

df = pd.read_excel("Çalışma Çizelgesi v2.xlsx")
df.head()

   Gün  Ay   Yıl     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
0    5  12  2022  Pazartesi        5      6      0.833333        0       0
1    6  12  2022       Salı        3      6      0.500000        0       0
2    7  12  2022   Çarşamba        0      0      0.000000        0       1
3    8  12  2022   Perşembe        0      6      0.000000        0       0
4    9  12  2022       Cuma        0      6      0.000000        0       0

In [2]:
df.shape

(483, 9)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gün           483 non-null    int64
 1   Ay            483 non-null    int64
 2   Yıl           483 non-null    int64
 3   GünAdı        483 non-null    object
 4   Yapılan       483 non-null    int64
 5   Hedef         483 non-null    int64
 6   ÇalışmaOranı  483 non-null    float64
 7   FreeDay       483 non-null    int64
 8   OffDay        483 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 34.1+ KB

In [4]:
df['Tarih'] = pd.to_datetime(df['Yıl'].astype(str) + '-' + df['Ay'].astype(str) + '-' + df['Gün'].astype(str))
df['Tarih'] = df['Tarih'].dt.strftime('%d-%m-%Y')
df.drop(columns=['Gün', 'Ay','Yıl'])
df = df[['Tarih', 'GünAdı', 'Yapılan', 'Hedef', 'ÇalışmaOranı', 'FreeDay', 'OffDay']]
df.head()

        Tarih     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
0  05-12-2022  Pazartesi        5      6      0.833333        0       0
1  06-12-2022       Salı        3      6      0.500000        0       0
2  07-12-2022   Çarşamba        0      0      0.000000        0       1
3  08-12-2022   Perşembe        0      6      0.000000        0       0
4  09-12-2022       Cuma        0      6      0.000000        0       0

In [5]:
df.tail()

          Tarih     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
478  27-03-2024   Çarşamba        7      8         0.875        0       0
479  28-03-2024   Perşembe        4      8         0.500        0       0
480  29-03-2024       Cuma        4      4         1.000        0       0
481  30-03-2024  Cumartesi        0      0         0.000        1       0
482  31-03-2024      Pazar        0      0         0.000        1       0

In [6]:
df.dropna()

          Tarih     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
0    05-12-2022  Pazartesi        5      6      0.833333        0       0
1    06-12-2022       Salı        3      6      0.500000        0       0
2    07-12-2022   Çarşamba        0      0      0.000000        0       1
3    08-12-2022   Perşembe        0      6      0.000000        0       0
4    09-12-2022       Cuma        0      6      0.000000        0       0
..          ...        ...      ...    ...           ...      ...     ...
478  27-03-2024   Çarşamba        7      8      0.875000        0       0
479  28-03-2024   Perşembe        4      8      0.500000        0       0
480  29-03-2024       Cuma        4      4      1.000000        0       0
481  30-03-2024  Cumartesi        0      0      0.000000        1       0
482  31-03-2024      Pazar        0      0      0.000000        1       0

[483 rows x 7 columns]

In [7]:
df['Yapılan'] = pd.to_numeric(df['Yapılan'], errors='coerce').astype('Int64')

In [8]:
df['Yapılan'].sum() / df['Hedef'].sum()

0.5199095022624435

In [9]:
toplam_calisma_gunluk_toplam = df.groupby('GünAdı')[['Yapılan','Hedef']].sum().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
toplam_calisma_gunluk_toplam['Çalışma %'] = np.round( ((toplam_calisma_gunluk_toplam['Yapılan'] / toplam_calisma_gunluk_toplam['Hedef']) * 100) ,1) 
toplam_calisma_gunluk_toplam

      GünAdı  Yapılan  Hedef  Çalışma %
0  Pazartesi      308    452       68.1
1       Salı      232    452       51.3
2   Çarşamba      224    430       52.1
3   Perşembe      201    412       48.8
4       Cuma      119    316       37.7
5  Cumartesi       40     86       46.5
6      Pazar       25     62       40.3

In [10]:
toplam_calisma_gunluk_ortalama = df.groupby('GünAdı')[['Yapılan','Hedef']].mean().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
toplam_calisma_gunluk_ortalama[['Yapılan', 'Hedef']] = np.round(toplam_calisma_gunluk_ortalama[['Yapılan', 'Hedef']], 1)
toplam_calisma_gunluk_ortalama

      GünAdı  Yapılan  Hedef
0  Pazartesi      4.5    6.6
1       Salı      3.4    6.6
2   Çarşamba      3.2    6.2
3   Perşembe      2.9    6.0
4       Cuma      1.7    4.6
5  Cumartesi      0.6    1.2
6      Pazar      0.4    0.9

In [11]:
toplam_calisma_gunluk_ortalama[['Yapılan', 'Hedef']].sum()

Yapılan    16.7
Hedef      32.1
dtype: Float64

In [12]:
gunluk_bos = df.groupby('GünAdı')[['FreeDay','OffDay']].sum().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
gunluk_bos

      GünAdı  FreeDay  OffDay
0  Pazartesi        0       8
1       Salı        0       8
2   Çarşamba        0      11
3   Perşembe        0      13
4       Cuma        1      21
5  Cumartesi       41      11
6      Pazar       45      12

In [13]:
toplamBos = gunluk_bos['FreeDay'].sum() + gunluk_bos['OffDay'].sum()
toplamBos

171

In [14]:
df.shape[0]-1 #Son gün boş kayıt olduğu için -1 yaptım

482

In [15]:
np.round((toplamBos / (df.shape[0]-1)),2) #Boş Geçen gün oranı %37 (30.Kasım.2023 e kadar)

0.35

In [16]:
gunluk_bos_ort = df.groupby('GünAdı')[['FreeDay','OffDay']].mean().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
gunluk_bos_ort[['FreeDay', 'OffDay']] = np.round(gunluk_bos_ort[['FreeDay', 'OffDay']], 1)
gunluk_bos_ort

      GünAdı  FreeDay  OffDay
0  Pazartesi      0.0     0.1
1       Salı      0.0     0.1
2   Çarşamba      0.0     0.2
3   Perşembe      0.0     0.2
4       Cuma      0.0     0.3
5  Cumartesi      0.6     0.2
6      Pazar      0.7     0.2

In [17]:
gunluk_rapor = toplam_calisma_gunluk_toplam[['GünAdı','Yapılan', 'Hedef','Çalışma %']]
gunluk_rapor[['YapılanOrt', 'HedefOrt']] = toplam_calisma_gunluk_ortalama[['Yapılan', 'Hedef']]
gunluk_rapor = gunluk_rapor[['GünAdı','Yapılan', 'YapılanOrt', 'Hedef', 'HedefOrt', 'Çalışma %']]
gunluk_rapor['FreeDay'] = gunluk_bos['FreeDay']
gunluk_rapor['FreeDayOrt'] = gunluk_bos_ort['FreeDay']
gunluk_rapor['OffDay'] = gunluk_bos['OffDay']
gunluk_rapor['OffDayOrt'] = gunluk_bos_ort['OffDay']
gunluk_rapor

,GünAdı,Yapılan,YapılanOrt,Hedef,HedefOrt,Çalışma %,FreeDay,FreeDayOrt,OffDay,OffDayOrt
0,Pazartesi,308,4.5,452,6.6,68.1,0,0.0,8,0.1
1,Salı,232,3.4,452,6.6,51.3,0,0.0,8,0.1
2,Çarşamba,224,3.2,430,6.2,52.1,0,0.0,11,0.2
3,Perşembe,201,2.9,412,6.0,48.8,0,0.0,13,0.2
4,Cuma,119,1.7,316,4.6,37.7,1,0.0,21,0.3
5,Cumartesi,40,0.6,86,1.2,46.5,41,0.6,11,0.2
6,Pazar,25,0.4,62,0.9,40.3,45,0.7,12,0.2

In [18]:
sifir_verim = df.loc[ (df['Yapılan'] == 0) & (df['Hedef']>0) ]
sifir_verim.head(3)

        Tarih     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
3  08-12-2022   Perşembe        0      6           0.0        0       0
4  09-12-2022       Cuma        0      6           0.0        0       0
5  10-12-2022  Cumartesi        0      6           0.0        0       0

In [19]:
sifir_verim.shape

(46, 7)

In [20]:
sifirVerim = sifir_verim.groupby('GünAdı')['Yapılan'].count().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
sifirVerim

      GünAdı  Yapılan
0  Pazartesi        4
1       Salı        6
2   Çarşamba        9
3   Perşembe        6
4       Cuma       13
5  Cumartesi        3
6      Pazar        5

In [21]:
sifir_verim[sifir_verim['GünAdı']=='Cuma']

          Tarih GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
4    09-12-2022   Cuma        0      6           0.0        0       0
60   03-02-2023   Cuma        0      4           0.0        0       0
95   10-03-2023   Cuma        0      4           0.0        0       0
130  14-04-2023   Cuma        0     12           0.0        0       0
221  14-07-2023   Cuma        0      2           0.0        0       0
228  21-07-2023   Cuma        0      4           0.0        0       0
242  04-08-2023   Cuma        0      4           0.0        0       0
249  11-08-2023   Cuma        0      4           0.0        0       0
319  20-10-2023   Cuma        0      6           0.0        0       0
326  27-10-2023   Cuma        0      6           0.0        0       0
389  29-12-2023   Cuma        0      6           0.0        0       0
396  05-01-2024   Cuma        0      6           0.0        0       0
431  09-02-2024   Cuma        0      8           0.0        0       0

In [22]:
gunluk_rapor['Yapılmayan'] = sifirVerim['Yapılan']
gunluk_rapor['ToplamBOS'] = gunluk_rapor['Yapılmayan'] + gunluk_rapor['FreeDay'] + gunluk_rapor['OffDay']
gunluk_rapor

,GünAdı,Yapılan,YapılanOrt,Hedef,HedefOrt,Çalışma %,FreeDay,FreeDayOrt,OffDay,OffDayOrt,Yapılmayan,ToplamBOS
0,Pazartesi,308,4.5,452,6.6,68.1,0,0.0,8,0.1,4,12
1,Salı,232,3.4,452,6.6,51.3,0,0.0,8,0.1,6,14
2,Çarşamba,224,3.2,430,6.2,52.1,0,0.0,11,0.2,9,20
3,Perşembe,201,2.9,412,6.0,48.8,0,0.0,13,0.2,6,19
4,Cuma,119,1.7,316,4.6,37.7,1,0.0,21,0.3,13,35
5,Cumartesi,40,0.6,86,1.2,46.5,41,0.6,11,0.2,3,55
6,Pazar,25,0.4,62,0.9,40.3,45,0.7,12,0.2,5,62

In [23]:
890/1714

0.5192532088681447

## AYLIK BOŞ GÜNLER

In [24]:
df['Tarih'] = pd.to_datetime(df['Tarih'], format='%d-%m-%Y')
grouped_df = df.groupby(df['Tarih'].dt.to_period("M")).agg({'Yapılan': 'sum', 'Hedef': 'sum', 'FreeDay': 'sum', 'OffDay': 'sum'}).reset_index()
grouped_df['ÇalışmaOranı'] = grouped_df['Yapılan'] / grouped_df['Hedef'] 
grouped_df['ÇalışmaOranı'] = np.round(grouped_df['ÇalışmaOranı'], 3) * 100
grouped_df['BoşGünler'] = grouped_df['FreeDay'] + grouped_df['OffDay']
#grouped_df['Gün'] = df.groupby(df['Tarih'].dt.to_period("M"))['Tarih'].count().reset_index()
grouped_df= grouped_df[['Tarih','Yapılan', 'Hedef', 'ÇalışmaOranı','FreeDay','OffDay','BoşGünler']]
grouped_df

      Tarih  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay  BoşGünler
0   2022-12       59    124          47.6        0       4          4
1   2023-01      101    148          68.2        7       2          9
2   2023-02       43     76          56.6        6      13         19
3   2023-03      107    172          62.2        7       3         10
4   2023-04       76    178          42.7        5       5         10
5   2023-05      116    224          51.8        5       2          7
6   2023-06      127    216          58.8        0       8          8
7   2023-07       34     88          38.6        1       7          8
8   2023-08        9     50          18.0        2      16         18
9   2023-09       18     44          40.9        5      14         19
10  2023-10       71    100          71.0        9       4         13
11  2023-11       73    154          47.4        6       2          8
12  2023-12       56    140          40.0       10       2         12
13  2024-01       91    176          51.7        8       0          8
14  2024-02       76    158          48.1        8       1          9
15  2024-03       92    162          56.8        8       1          9

In [25]:
#Düzenle
df.loc[ (df['Yapılan'] == 0) & (df['Hedef']>0) , 'Yapılmayan'] = 1
df.loc[ (df['Yapılan'] > 0) , 'Yapılmayan' ] = 0
df.loc[ (df['FreeDay'] > 0) | (df['OffDay'] > 0), 'Yapılmayan'] = 0

df.loc[ (df['Yapılan'] > 0) & (df['Hedef']>0) , 'Yapıldı'] = 1
df.loc[ (df['Yapılan'] == 0) & (df['Hedef']>0) , 'Yapıldı'] = 0
df.loc[ (df['FreeDay'] > 0) | (df['OffDay'] > 0), 'Yapıldı'] = 0

df

,Tarih,GünAdı,Yapılan,Hedef,ÇalışmaOranı,FreeDay,OffDay,Yapılmayan,Yapıldı
0,2022-12-05,Pazartesi,5,6,0.833333,0,0,0.0,1.0
1,2022-12-06,Salı,3,6,0.500000,0,0,0.0,1.0
2,2022-12-07,Çarşamba,0,0,0.000000,0,1,0.0,0.0
3,2022-12-08,Perşembe,0,6,0.000000,0,0,1.0,0.0
4,2022-12-09,Cuma,0,6,0.000000,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
478,2024-03-27,Çarşamba,7,8,0.875000,0,0,0.0,1.0
479,2024-03-28,Perşembe,4,8,0.500000,0,0,0.0,1.0
480,2024-03-29,Cuma,4,4,1.000000,0,0,0.0,1.0
481,2024-03-30,Cumartesi,0,0,0.000000,1,0,0.0,0.0
482,2024-03-31,Pazar,0,0,0.000000,1,0,0.0,0.0

In [26]:
df['Yapılmayan'] = pd.to_numeric(df['Yapılmayan'], errors='coerce').astype('Int64')
df['Yapıldı'] = pd.to_numeric(df['Yapıldı'], errors='coerce').astype('Int64')

In [27]:
df.head(10)

,Tarih,GünAdı,Yapılan,Hedef,ÇalışmaOranı,FreeDay,OffDay,Yapılmayan,Yapıldı
0,2022-12-05,Pazartesi,5,6,0.833333,0,0,0,1
1,2022-12-06,Salı,3,6,0.500000,0,0,0,1
2,2022-12-07,Çarşamba,0,0,0.000000,0,1,0,0
3,2022-12-08,Perşembe,0,6,0.000000,0,0,1,0
4,2022-12-09,Cuma,0,6,0.000000,0,0,1,0
5,2022-12-10,Cumartesi,0,6,0.000000,0,0,1,0
6,2022-12-11,Pazar,0,6,0.000000,0,0,1,0
7,2022-12-12,Pazartesi,2,6,0.333333,0,0,0,1
8,2022-12-13,Salı,2,6,0.333333,0,0,0,1
9,2022-12-14,Çarşamba,4,6,0.666667,0,0,0,1

In [28]:
sifirVerimAylik= df.loc[df['Yapılmayan'] == 1]
sifirVerimAylik

,Tarih,GünAdı,Yapılan,Hedef,ÇalışmaOranı,FreeDay,OffDay,Yapılmayan,Yapıldı
3,2022-12-08,Perşembe,0,6,0.0,0,0,1,0
4,2022-12-09,Cuma,0,6,0.0,0,0,1,0
5,2022-12-10,Cumartesi,0,6,0.0,0,0,1,0
6,2022-12-11,Pazar,0,6,0.0,0,0,1,0
16,2022-12-21,Çarşamba,0,6,0.0,0,0,1,0
23,2022-12-28,Çarşamba,0,4,0.0,0,0,1,0
44,2023-01-18,Çarşamba,0,4,0.0,0,0,1,0
58,2023-02-01,Çarşamba,0,8,0.0,0,0,1,0
60,2023-02-03,Cuma,0,4,0.0,0,0,1,0
95,2023-03-10,Cuma,0,4,0.0,0,0,1,0
130,2023-04-14,Cuma,0,12,0.0,0,0,1,0
134,2023-04-18,Salı,0,4,0.0,0,0,1,0
135,2023-04-19,Çarşamba,0,8,0.0,0,0,1,0
143,2023-04-27,Perşembe,0,12,0.0,0,0,1,0
215,2023-07-08,Cumartesi,0,4,0.0,0,0,1,0
218,2023-07-11,Salı,0,4,0.0,0,0,1,0
221,2023-07-14,Cuma,0,2,0.0,0,0,1,0
223,2023-07-16,Pazar,0,4,0.0,0,0,1,0
224,2023-07-17,Pazartesi,0,4,0.0,0,0,1,0
228,2023-07-21,Cuma,0,4,0.0,0,0,1,0
232,2023-07-25,Salı,0,2,0.0,0,0,1,0
237,2023-07-30,Pazar,0,4,0.0,0,0,1,0
238,2023-07-31,Pazartesi,0,4,0.0,0,0,1,0
240,2023-08-02,Çarşamba,0,4,0.0,0,0,1,0
242,2023-08-04,Cuma,0,4,0.0,0,0,1,0
243,2023-08-05,Cumartesi,0,2,0.0,0,0,1,0
244,2023-08-06,Pazar,0,4,0.0,0,0,1,0
246,2023-08-08,Salı,0,4,0.0,0,0,1,0
247,2023-08-09,Çarşamba,0,4,0.0,0,0,1,0
248,2023-08-10,Perşembe,0,4,0.0,0,0,1,0
249,2023-08-11,Cuma,0,4,0.0,0,0,1,0
252,2023-08-14,Pazartesi,0,4,0.0,0,0,1,0
282,2023-09-13,Çarşamba,0,4,0.0,0,0,1,0
283,2023-09-14,Perşembe,0,4,0.0,0,0,1,0
319,2023-10-20,Cuma,0,6,0.0,0,0,1,0
326,2023-10-27,Cuma,0,6,0.0,0,0,1,0
337,2023-11-07,Salı,0,8,0.0,0,0,1,0
349,2023-11-19,Pazar,0,4,0.0,0,0,1,0
360,2023-11-30,Perşembe,0,4,0.0,0,0,1,0
371,2023-12-11,Pazartesi,0,4,0.0,0,0,1,0
388,2023-12-28,Perşembe,0,8,0.0,0,0,1,0
389,2023-12-29,Cuma,0,6,0.0,0,0,1,0
396,2024-01-05,Cuma,0,6,0.0,0,0,1,0
415,2024-01-24,Çarşamba,0,8,0.0,0,0,1,0
428,2024-02-06,Salı,0,8,0.0,0,0,1,0
431,2024-02-09,Cuma,0,8,0.0,0,0,1,0

In [29]:
#sifirVerimAylik = sifirVerimAylik.groupby(sifirVerimAylik['Tarih'].dt.to_period("M"))['Yapılan'].count().reset_index()
sifirVerimAylik = sifirVerimAylik.groupby(sifirVerimAylik['Tarih'].dt.to_period("M")).size().reset_index(name='Yapılmayan')
sifirVerimAylik

      Tarih  Yapılmayan
0   2022-12           6
1   2023-01           1
2   2023-02           2
3   2023-03           1
4   2023-04           4
5   2023-07           9
6   2023-08           9
7   2023-09           2
8   2023-10           2
9   2023-11           3
10  2023-12           3
11  2024-01           2
12  2024-02           2

In [30]:
grouped_df.loc[grouped_df['Tarih'].astype('str') == sifirVerimAylik['Tarih'].astype('str'), 'Yapılmayan'] = sifirVerimAylik['Yapılmayan']

ValueError: Can only compare identically-labeled Series objects

In [31]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tarih         16 non-null     period[M]
 1   Yapılan       16 non-null     Int64
 2   Hedef         16 non-null     int64
 3   ÇalışmaOranı  16 non-null     Float64
 4   FreeDay       16 non-null     int64
 5   OffDay        16 non-null     int64
 6   BoşGünler     16 non-null     int64
dtypes: Float64(1), Int64(1), int64(4), period[M](1)
memory usage: 1.0 KB

In [32]:
sifirVerimAylik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tarih       13 non-null     period[M]
 1   Yapılmayan  13 non-null     int64
dtypes: int64(1), period[M](1)
memory usage: 340.0 bytes

In [33]:
grouped_df

      Tarih  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay  BoşGünler
0   2022-12       59    124          47.6        0       4          4
1   2023-01      101    148          68.2        7       2          9
2   2023-02       43     76          56.6        6      13         19
3   2023-03      107    172          62.2        7       3         10
4   2023-04       76    178          42.7        5       5         10
5   2023-05      116    224          51.8        5       2          7
6   2023-06      127    216          58.8        0       8          8
7   2023-07       34     88          38.6        1       7          8
8   2023-08        9     50          18.0        2      16         18
9   2023-09       18     44          40.9        5      14         19
10  2023-10       71    100          71.0        9       4         13
11  2023-11       73    154          47.4        6       2          8
12  2023-12       56    140          40.0       10       2         12
13  2024-01       91    176          51.7        8       0          8
14  2024-02       76    158          48.1        8       1          9
15  2024-03       92    162          56.8        8       1          9