In [1]:
import pandas as pd 
import numpy as np

df = pd.read_excel("Çalışma Çizelgesi v2+1.xlsx")
df.head()

   Gün  Ay   Yıl     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
0    5  12  2022  Pazartesi      5.0      6      0.833333        0       0
1    6  12  2022       Salı      3.0      6      0.500000        0       0
2    7  12  2022   Çarşamba      0.0      0      0.000000        0       1
3    8  12  2022   Perşembe      0.0      6      0.000000        0       0
4    9  12  2022       Cuma      0.0      6      0.000000        0       0

In [2]:
df.shape

(362, 9)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gün           362 non-null    int64
 1   Ay            362 non-null    int64
 2   Yıl           362 non-null    int64
 3   GünAdı        362 non-null    object
 4   Yapılan       361 non-null    float64
 5   Hedef         362 non-null    int64
 6   ÇalışmaOranı  362 non-null    float64
 7   FreeDay       362 non-null    int64
 8   OffDay        362 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 25.6+ KB

In [4]:
df['Tarih'] = pd.to_datetime(df['Yıl'].astype(str) + '-' + df['Ay'].astype(str) + '-' + df['Gün'].astype(str))
df['Tarih'] = df['Tarih'].dt.strftime('%d-%m-%Y')
df.drop(columns=['Gün', 'Ay','Yıl'])
df = df[['Tarih', 'GünAdı', 'Yapılan', 'Hedef', 'ÇalışmaOranı', 'FreeDay', 'OffDay']]
df.head()

        Tarih     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
0  05-12-2022  Pazartesi      5.0      6      0.833333        0       0
1  06-12-2022       Salı      3.0      6      0.500000        0       0
2  07-12-2022   Çarşamba      0.0      0      0.000000        0       1
3  08-12-2022   Perşembe      0.0      6      0.000000        0       0
4  09-12-2022       Cuma      0.0      6      0.000000        0       0

In [5]:
df.tail()

          Tarih     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
357  27-11-2023  Pazartesi      6.0      8         0.750        0       0
358  28-11-2023       Salı      4.0      8         0.500        0       0
359  29-11-2023   Çarşamba      7.0      8         0.875        0       0
360  30-11-2023   Perşembe      0.0      4         0.000        0       0
361  01-12-2023       Cuma      NaN      6         0.000        0       0

In [6]:
df.dropna()

          Tarih     GünAdı  Yapılan  Hedef  ÇalışmaOranı  FreeDay  OffDay
0    05-12-2022  Pazartesi      5.0      6      0.833333        0       0
1    06-12-2022       Salı      3.0      6      0.500000        0       0
2    07-12-2022   Çarşamba      0.0      0      0.000000        0       1
3    08-12-2022   Perşembe      0.0      6      0.000000        0       0
4    09-12-2022       Cuma      0.0      6      0.000000        0       0
..          ...        ...      ...    ...           ...      ...     ...
356  26-11-2023      Pazar      0.0      0      0.000000        1       0
357  27-11-2023  Pazartesi      6.0      8      0.750000        0       0
358  28-11-2023       Salı      4.0      8      0.500000        0       0
359  29-11-2023   Çarşamba      7.0      8      0.875000        0       0
360  30-11-2023   Perşembe      0.0      4      0.000000        0       0

[361 rows x 7 columns]

In [11]:
df['Yapılan'] = pd.to_numeric(df['Yapılan'], errors='coerce').astype('Int64')

In [12]:
df['Yapılan'].sum() / df['Hedef'].sum()

0.5278481012658228

In [13]:
toplam_calisma_gunluk_toplam = df.groupby('GünAdı')[['Yapılan','Hedef']].sum().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
toplam_calisma_gunluk_toplam['Çalışma %'] = np.round( ((toplam_calisma_gunluk_toplam['Yapılan'] / toplam_calisma_gunluk_toplam['Hedef']) * 100) ,1) 
toplam_calisma_gunluk_toplam

      GünAdı  Yapılan  Hedef  Çalışma %
0  Pazartesi      215    324       66.4
1       Salı      168    316       53.2
2   Çarşamba      158    296       53.4
3   Perşembe      148    278       53.2
4       Cuma       83    224       37.1
5  Cumartesi       39     82       47.6
6      Pazar       23     60       38.3

In [23]:
toplam_calisma_gunluk_ortalama = df.groupby('GünAdı')[['Yapılan','Hedef']].mean().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
toplam_calisma_gunluk_ortalama[['Yapılan', 'Hedef']] = np.round(toplam_calisma_gunluk_ortalama[['Yapılan', 'Hedef']], 1)
toplam_calisma_gunluk_ortalama

      GünAdı  Yapılan  Hedef
0  Pazartesi      4.1    6.2
1       Salı      3.2    6.1
2   Çarşamba      3.0    5.7
3   Perşembe      2.8    5.3
4       Cuma      1.6    4.3
5  Cumartesi      0.8    1.6
6      Pazar      0.5    1.2

In [33]:
gunluk_bos = df.groupby('GünAdı')[['FreeDay','OffDay']].sum().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
gunluk_bos

      GünAdı  FreeDay  OffDay
0  Pazartesi        0       8
1       Salı        0       8
2   Çarşamba        0      11
3   Perşembe        0      13
4       Cuma        1      17
5  Cumartesi       24      11
6      Pazar       28      12

In [40]:
toplamBos = gunluk_bos['FreeDay'].sum() + gunluk_bos['OffDay'].sum()
toplamBos

133

In [42]:
df.shape[0]-1 #Son gün boş kayıt olduğu için -1 yaptım

361

In [44]:
np.round((toplamBos / (df.shape[0]-1)),2) #Boş Geçen gün oranı %37 (30.Kasım.2023 e kadar)

0.37

In [36]:
gunluk_bos_ort = df.groupby('GünAdı')[['FreeDay','OffDay']].mean().reindex(['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']).reset_index()
gunluk_bos_ort[['FreeDay', 'OffDay']] = np.round(gunluk_bos_ort[['FreeDay', 'OffDay']], 1)
gunluk_bos_ort

      GünAdı  FreeDay  OffDay
0  Pazartesi      0.0     0.2
1       Salı      0.0     0.2
2   Çarşamba      0.0     0.2
3   Perşembe      0.0     0.2
4       Cuma      0.0     0.3
5  Cumartesi      0.5     0.2
6      Pazar      0.5     0.2

In [37]:
gunluk_rapor = toplam_calisma_gunluk_toplam[['GünAdı','Yapılan', 'Hedef','Çalışma %']]
gunluk_rapor[['YapılanOrt', 'HedefOrt']] = toplam_calisma_gunluk_ortalama[['Yapılan', 'Hedef']]
gunluk_rapor = gunluk_rapor[['GünAdı','Yapılan', 'YapılanOrt', 'Hedef', 'HedefOrt', 'Çalışma %']]
gunluk_rapor['FreeDay'] = gunluk_bos['FreeDay']
gunluk_rapor['FreeDayOrt'] = gunluk_bos_ort['FreeDay']
gunluk_rapor['OffDay'] = gunluk_bos['OffDay']
gunluk_rapor['OffDayOrt'] = gunluk_bos_ort['OffDay']
gunluk_rapor

,GünAdı,Yapılan,YapılanOrt,Hedef,HedefOrt,Çalışma %,FreeDay,FreeDayOrt,OffDay,OffDayOrt
0,Pazartesi,215,4.1,324,6.2,66.4,0,0.0,8,0.2
1,Salı,168,3.2,316,6.1,53.2,0,0.0,8,0.2
2,Çarşamba,158,3.0,296,5.7,53.4,0,0.0,11,0.2
3,Perşembe,148,2.8,278,5.3,53.2,0,0.0,13,0.2
4,Cuma,83,1.6,224,4.3,37.1,1,0.0,17,0.3
5,Cumartesi,39,0.8,82,1.6,47.6,24,0.5,11,0.2
6,Pazar,23,0.5,60,1.2,38.3,28,0.5,12,0.2